*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
   
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculator{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    border-radius: 20px;
    padding: 40px 30px 70px;
    margin: 20px 20px 20px 20px ;
    box-shadow: 0 0 10px #00000040;
    background-color: #f5f5f5;
}
.calculator-screen{
    width: 100%;
    font-size: 30px;
    overflow: hidden;
    text-align: right;
    color: black;
    border: #454e57;
    border-radius: 10px;
}

.calculator-keys{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 5px;
    row-gap: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;

}
.calculator-keys button{
    width: 90px;
    height: 80px;
    font-size: 24px;
    border-radius: 15px;
    box-shadow: 0 0 10px #00000040;
    background-color: #050505;
    color: antiquewhite;
    border-radius: 10px;
    cursor: pointer;
}
 
.operator{
    background-color: #454e57 !important ;

}

.all-clear{
    background-color: #bf2727 !important;
}
.clear-entry{
    background-color: #d0751a !important;
}

button:active{
    background-color: #454e57;
}
.operator:active,.all-clear:active,.clear-entry:active{
    background-color: #050505 !important;
}
