*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(120deg,#3366ff,#ff6699,#f6ff00);
    padding: 40px;
    display: flex;
    justify-content: space-between;

}
textarea{
    padding: 20px;
    background: #edeef0;
    background-color: #edeef0  ;
    height: 30px;
    border-radius: 10px;
}
.todo-app{
    width: 100%;
    max-width: 950px;
    background: white;
    margin: 20px 20px 20px 20px ;
    padding: 40px 30px 70px;
    border-radius: 20px;
    box-shadow: 0 0 10px #00000040;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: auto;
}
.wrap {
    text-wrap: wrap;
}
  
.todo-app h2 img{
    width: 20px;
    margin-right: 7px;
    margin-left: 7px;
    overflow-wrap: break-word;
    word-break: break-all;
    
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
    overflow-wrap: break-word;
    word-break: break-all;
    text-wrap: wrap;
    white-space: wrap;
}
textarea{
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    height: 100px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
    font-weight: 15px;
    font-size: 15px;
    margin : #555;
    height: 25px;
    max-height: 85px;
    overflow-y: auto;
    
}
.add-button{
    border:none;
    outline: none;
    width: 130px;
    height: 90px;
    background: linear-gradient(120deg,#3366ff,#60df6f) ;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30%;
    margin: 5px;
}

ul li{
    list-style-type: none;
    font-size: 16px;
    padding: 13px 10px 18px 50px;
    user-select: none;
    cursor: pointer;
    width: auto;
    position: relative;
    white-space: normal;
   
}
ul li::before{
    content:'';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url(620639-200.png);
    background-size: cover;
    background-position: center;
    white-space: normal;
    top: 12px;
    left: 10px;

}
ul li.checked{
    color: #038b12;
    
}
ul li.checked::before{
    background-image: url(png-transparent-check-mark-cheque-check-miscellaneous-angle-text-thumbnail.png);

}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #000000;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #a6a3a3;
}
